/* Write your CSS here */
.login-button {
  background-color: #f8fafc;
  color: #303150;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  height: 40px;
  width: 80px;
  text-align: center;
}
